<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Events Registration</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">


  <!-- Favicons -->
  <link href="img/logo.png" rel="icon">
  <link href="img/logo.png" rel="apple-touch-icon">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

  <style>
    .sm-logo-ending {
      width: 270px;
      height: 270px;
      margin-top: 20px;
    }

    @media screen and (max-width: 1050px) {
      .sm-logo-ending {
        display: none;
      }
    }

    .form-background {
      background-color: white;

    }

    @media screen and (max-width: 500px) and (min-width: 400px) {
      .form-background0 {
        display: none;
      }

      .form-background2 {
        display: none;
      }

      .form-background3 {
        display: none;
      }

      .form-background1 {
        display: table;
        margin-left: auto;
        margin-right: auto
      }
    }

    @media screen and (min-width: 500px) {
      .form-background1 {
        display: none;
      }

      .form-background2 {
        display: none;
      }

      .form-background3 {
        display: none;
      }

      .form-background0 {
        display: table;
        margin-left: auto;
        margin-right: auto
      }
    }

    @media screen and (max-width:400px) and (min-width: 321px) {
      .form-background1 {
        display: none;
      }

      .form-background0 {
        display: none;
      }

      .form-background3 {
        display: none;
      }

      .form-background2 {
        display: table;
        margin-left: auto;
        margin-right: auto
      }
    }

    @media screen and (max-width:320px) and (min-width: 20px) {
      .form-background1 {
        display: none;
      }

      .form-background0 {
        display: none;
      }

      .form-background2 {
        display: none;
      }

      .form-background3 {
        display: table;
        margin-left: auto;
        margin-right: auto
      }
    }
  </style>

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">


  <!-- Libraries CSS Files -->
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

  <link href="static/lib/animate/animate.min.css" rel="stylesheet">
  <link href="static/lib/ionicons/css/ionicons.min.css" rel="stylesheet">
  <link href="static/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
  <!--<link href="/static/lib/lightbox/css/lightbox.min.css" rel="stylesheet">-->

  <!-- Main Stylesheet File -->
  <link href="static/ext/css/style.css" rel="stylesheet">

</head>

<body style="background: url(static/new/back.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; ">
  <div id="fb-root"></div>
  <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v5.0"></script>


  <header id="header">
    <div class="container-fluid">

      <div id="logo" class="pull-left" style="margin-top: -12px">


        <a href="#intro"><img src="static/img/logo.png" alt="" title="" /></a>
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li><a style="color: #000;" href="index.html">Home</a></li>
          <li><a style="color: #000;" href="index.html#about">About</a></li>
          <li><a style="color: #000;" href="index.html#contact">Contact Us</a></li>
          <li><a style="color: #000;" href="events.html">Events</a>
            <!--             <div style='background: lightblue; border-radius: 15px;' class="dropdown-content"> -->
            <!-- <a style='color: black; display: block; padding-top: 8px;' href="events.html#gal1">Data Tussle</a> -->
            <!--               <a style='color: black; display: block; padding-top: 8px;' href="events.html#gal2">BeyondQ</a> -->
            <!-- <a style='color: black; display: block; padding-top: 8px;' href="events.html#gal3">Numerical Battle</a> -->
            <!--               <a style='color: black; display: block; padding-top: 8px;' href="events.html#gal4">BoatExpo</a> -->
            <!--               <a style='color: black; display: block; padding-top: 8px;' href="events.html#gal5">Ace Analytics</a> -->
            <!--               <a style='color: black; display: block; padding-top: 8px;' href="events.html#gal6">Paper Presentation</a>
              <a style='color: black; display: block; padding-top: 8px;' href="events.html#gal7">Innotect</a>
              <a style='color: black; display: block; padding-top: 8px;' href="events.html#gal8">Oceania Quiz</a>
              <a style='color: black; display: block; padding-top: 8px;' href="events.html#gal9">Lensation</a>
              <a style='color: black; display: block; padding-top: 8px;' href="events.html#gal10">Poster Hunt</a> -->
            <!--             </div> -->
          </li>
          <!-- <li><a href="https://www.startupindia.gov.in/content/sih/en/ams-application/challenge.html?applicationId=5e4e7545e4b0bf8415cfebe1" target="_blank">S2i2</a></li> -->
          <li><a style="color: #000;" href="index.html#Our-sponsors" target="_blank">sponsors</a></li>
          <li><a style="color: #000;" href="team.html">Team</a></li>
          <li><a style="color: #000;" href="gallery.html">Gallery</a></li>
          <!-- <li><a class="menu-active" href="results/index.html"> Results </a></li> -->

          <li><a href="registration.html" style="color: #000;">
              Register
            </a></li>




        </ul>

      </nav><!-- #nav-menu-container -->
    </div>

  </header>



  <main id="main">


    <section id="portfolio" style="margin-top: 120px; ">
      <div class="container" style='margin-top:50px; margin-bottom:50px'>
        <div class="form-background0">
          <!--{% if user.is_authenticated %}-->
          <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSe9Oj8dAqr_vOKyaEE40xgUs5pAX0Q--H8naWjI4VqOg1FClA/viewform?embedded=true" scrolling="no" width="1000" height="2100" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
          <!--{% endif %}-->
          </div>
          <div class="form-background1">
            <!--{% if user.is_authenticated %}-->
            <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSe9Oj8dAqr_vOKyaEE40xgUs5pAX0Q--H8naWjI4VqOg1FClA/viewform?embedded=true" scrolling="no" width="400" height="2100" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
            <!--{% endif %}-->
          </div>
          <div class="form-background2">
            <!--{% if user.is_authenticated %}-->
            <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSe9Oj8dAqr_vOKyaEE40xgUs5pAX0Q--H8naWjI4VqOg1FClA/viewform?embedded=true" scrolling="no" width="360" height="2100" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
            <!--{% endif %}-->
          </div>
          <div class="form-background3">
            <!--{% if user.is_authenticated %}-->
            <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSe9Oj8dAqr_vOKyaEE40xgUs5pAX0Q--H8naWjI4VqOg1FClA/viewform?embedded=true" scrolling="no" width="300" height="3000" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
            <!--{% endif %}-->
          </div>
          <!-- <h4 style='text-align:center;color:black'>Online accomodation is closed now.<br>Further accomodation will be made onspot subject to availibility.</h4> -->
        </div>
    </section><!-- #portfolio -->

  </main>

  <!--==========================
    Footer
  ============================-->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="ion-ios-arrow-right"></i> <a href="/">Home</a></li>
              <li><i class="ion-ios-arrow-right"></i> <a href="events.html">Events</a></li>
              <li><i class="ion-ios-arrow-right"></i> <a href="sponsors.html">Sponsors</a></li>
              <li><i class="ion-ios-arrow-right"></i> <a href="/#contact">Contact Us</a></li>
              <li><i class="ion-ios-arrow-right"></i> <a href="team.html">Our Team</a></li>
              <li><i class="ion-ios-arrow-right"></i> <a href="gallery.html">Gallery</a></li>


            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-contact">
            <h4>Contact Us</h4>
            <p>
              Department of <br>
              Ocean Engineering & Naval architecture <br>
              IIT Kharagpur <br>
              721302<br>
              Kharagpur, West Bengal<br>

              <strong>Email:</strong> info@samudramanthan.in<br>
            </p>

            <div class="social-links">

              <a href="https://www.facebook.com/samudramanthan.iitkgp" class="facebook"><i class="fa fa-facebook"></i></a>
              <a href="https://www.instagram.com/samudramanthan.iitkgp" class="instagram"><i class="fa fa-instagram"></i></a>
              <a href="mailto:info@samudramanthan.in" class="google-plus"><i class="fa fa-envelope"></i></a>

            </div>

          </div>

          <div class="col-lg-3 col-md-6 footer-newsletter">
            <h4>Follow Us</h4>
            <div class="fb-page" data-href="https://www.facebook.com/samudramanthan.iitkgp" data-width="380" data-hide-cover="false" data-show-facepile="false"></div>
          </div>
          <!--<div class="col-lg-3 col-md-6">-->
          <!--    <img class="sm-logo-ending"  src="{% static 'img/logo.jpg' %}">-->
          <!--</div>-->
        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong>NAROES</strong>. All Rights Reserved
      </div>
    </div>
  </footer><!-- #footer -->


  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
  <!-- Uncomment below i you want to use a preloader -->
  <div id="preloader"></div>

  <!-- JavaScript Libraries -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
  <script src="static/lib/easing/easing.min.js"></script>

  <script src="static/lib/superfish/superfish.min.js"></script>
  <script src="static/lib/wow/wow.min.js"></script>

  <script src="static/lib/waypoints/waypoints.min.js"></script>
  <script src="static/lib/counterup/counterup.min.js"></script>
  <script src="static/lib/owlcarousel/owl.carousel.min.js"></script>
  <script src="static/lib/isotope/isotope.pkgd.min.js"></script>
  <script src="static/lib/lightbox/js/lightbox.min.js"></script>
  <script src="static/lib/touchSwipe/jquery.touchSwipe.min.js"></script>
  <!-- Contact Form JavaScript File -->


  <!-- Template Main Javascript File -->
  <script src="static/ext/js/main.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj" crossorigin="anonymous"></script>

</body>

</html>
