<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Log in</title>
	<!-- CSS only -->
	<link rel="stylesheet" href="{{url_for('static',filename='css/form.css')}}">
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
</head>

<body>
	<!-- <div class="sidenav">
		<div class="login-main-text">
		   <h2>Welcome to<br> Samudramanthan 2022</h2>
		</div>
	 </div>
	 <div class="main">
		<div class="col-md-6 col-sm-12">
		   <div class="login-form">
			  <form method="post" action="{{url_for('login')}}">
				 <div class="form-group">
					 <p style="color: red;">{{msg}}</p>
					<label>Email</label>
					<input id="email" type="text" class="form-control" placeholder="Email" name="email">
					<p id="emsg" style="color: red;"></p>
				 </div>
				 <div class="form-group">
					<label>Password</label>
					<input type="password" class="form-control" placeholder="Password" name="password">
				 </div>
				 <button type="submit" class="btn btn-black">Login</button>
				 <p>Don't have an account ? <a href="{{url_for('register')}}" style="text-decoration: none;">Sign up</a></p>
			  </form>
		   </div>
		</div>
	 </div>  -->

	<section class="h-100 gradient-form" style="background-color: #eee;">
		<div class="container py-5">
			<div class="row d-flex justify-content-center align-items-center">
				<div class="col-xl-10">
					<div class="card rounded-3 text-black">
						<div class="row g-0">
							<div class="col-lg-6">
								<div class="card-body p-md-5 mx-md-4">

									<div class="text-center">
										<img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/lotus.webp" style="width: 185px;" alt="logo">
										<h4 class="mt-1 mb-5 pb-1">We are The Lotus Team</h4>
									</div>

									<form method="post" action="{{url_for('login')}}">
										<p>Please login to your account</p>
										<p style="color: red;">{{msg}}</p>
										<div class="form-outline mb-4">
											<label class="form-label">Email</label>
											<input type="email" class="form-control" placeholder="Email address" name="email" />
											<p id="emsg" style="color: red;"></p>

										</div>

										<div class="form-outline mb-4">
											<label class="form-label">Password</label>
											<input type="password" placeholder="password" class="form-control" name="password" />

										</div>

										<div class="text-center pt-1 mb-5 pb-1">
											<button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" type="submit">Log in</button>
											<a class="text-muted" href="#!">Forgot password?</a>
										</div>

										<div class="d-flex align-items-center justify-content-center pb-4">
											<p class="mb-0 me-2" style="margin-right: 4px">Don't have an account? </p>
											<a href="{{url_for('register')}}"><button type="button" class="btn btn-outline-danger">Create new</button></a>
										</div>

									</form>

								</div>
							</div>
							<div class="col-lg-6 d-flex align-items-center gradient-custom-2">
								<div class="text-white px-3 py-4 p-md-5 mx-md-4">
									<h4 class="mb-4">We are more than just a company</h4>
									<p class="small mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
										ea commodo consequat.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
	<script src="{{url_for('static',filename='js/login.js')}}"></script>
</body>

</html>
