<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Log in</title>
	<!-- CSS only -->
<link rel="stylesheet" href="{{url_for('static',filename='css/form.css')}}">
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
</head>
<body>
	<div class="sidenav">
		<div class="login-main-text">
		   <h2>Welcome to<br> Samudramanthan 2022</h2>
		</div>
	 </div>
	 <div class="main">
		<div class="col-md-6 col-sm-12">
		   <div class="login-form">
			  <form method="post" action="{{url_for('login')}}">
				 <div class="form-group">
					 <p style="color: red;">{{msg}}</p>
					<label>Email</label>
					<input id="email" type="text" class="form-control" placeholder="Email" name="email">
					<p id="emsg" style="color: red;"></p>
				 </div>
				 <div class="form-group">
					<label>Password</label>
					<input type="password" class="form-control" placeholder="Password" name="password">
				 </div>
				 <button type="submit" class="btn btn-black">Login</button>
				 <p>Don't have an account ? <a href="{{url_for('register')}}" style="text-decoration: none;">Sign up</a></p>
			  </form>
		   </div>
		</div>
	 </div>
	 <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	 <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script> -->
<script src="{{url_for('static',filename='js/login.js')}}"></script>
</body>
</html>