
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Our Sponsors</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">


  <!-- Favicons -->
  <link href="{{url_for('static',filename='img/logo.png')}}" rel="icon">
  <link href="{{url_for('static',filename='img/logo.png')}}" rel="apple-touch-icon">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

  <style>
    .sm-logo-ending {
      width: 270px;
      height: 270px;
      margin-top: 20px;
    }

    @media screen and (max-width: 1050px) {
      .sm-logo-ending {
        display: none;
      }
    }

    .form-background {
      background-color: white;

    }

    @media screen and (max-width: 500px) and (min-width: 400px) {
      .form-background0 {
        display: none;
      }

      .form-background2 {
        display: none;
      }

      .form-background3 {
        display: none;
      }

      .form-background1 {
        display: table;
        margin-left: auto;
        margin-right: auto
      }
    }

    @media screen and (min-width: 500px) {
      .form-background1 {
        display: none;
      }

      .form-background2 {
        display: none;
      }

      .form-background3 {
        display: none;
      }

      .form-background0 {
        display: table;
        margin-left: auto;
        margin-right: auto
      }
    }

    @media screen and (max-width:400px) and (min-width: 321px) {
      .form-background1 {
        display: none;
      }

      .form-background0 {
        display: none;
      }

      .form-background3 {
        display: none;
      }

      .form-background2 {
        display: table;
        margin-left: auto;
        margin-right: auto
      }
    }

    @media screen and (max-width:320px) and (min-width: 20px) {
      .form-background1 {
        display: none;
      }

      .form-background0 {
        display: none;
      }

      .form-background2 {
        display: none;
      }

      .form-background3 {
        display: table;
        margin-left: auto;
        margin-right: auto
      }
    }
h7{
	text-align: justify;
}
  </style>

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">


  <!-- Libraries CSS Files -->
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

  <link href="{{url_for('static',filename='lib/animate/animate.min.css')}}" rel="stylesheet">
  <link href="{{url_for('static',filename='lib/ionicons/css/ionicons.min.css')}}" rel="stylesheet">
  <link href="{{url_for('static',filename='lib/owlcarousel/assets/owl.carousel.min.css')}}" rel="stylesheet">
  <!--<link href="/static/lib/lightbox/css/lightbox.min.css" rel="stylesheet">-->

  <!-- Main Stylesheet File -->
  <link href="{{url_for('static',filename='ext/css/style.css')}}" rel="stylesheet">
  <link rel="stylesheet" href="{{url_for('static',filename='css/nav.css')}}">
  <script src="https://kit.fontawesome.com/13dade90ec.js" crossorigin="anonymous"></script>

</head>

<body style="background: url(static/new/back.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; ">
  <div id="fb-root"></div>
  <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v5.0"></script>


  <header id="header">
    <nav class="rnav">
      <div class="rbrand">
        <a href="{{url_for('index')}}"><img src="{{url_for('static',filename='img/logo.png')}}" alt="" title="" /></a>
      </div>
      <label for="rckick" class="rtoggle" style="color: black;">
        <i class="fas fa-solid fa-bars"></i>
      </label>
      <input type="checkbox" id="rclick" hidden>
      <div class="rnav-links">
        <ul class="nav-menu">
          <li><a href="{{url_for('index')}}">Home</a></li>
          <li><a href="{{url_for('index',_anchor='about')}}">About</a></li>
          <li><a href="{{url_for('index',_anchor='contact')}}">Contact Us</a></li>
          <li><a href="{{url_for('events')}}">Events</a></li>
          <li><a href="{{url_for('sponsor')}}">Sponsors</a></li>
          {% if logged_in %}
          <li><a href="{{url_for('signup')}}">Payments</a></li>
          <li><a href="{{url_for('logout')}}">Log out</a></li>
          {% else %}
          <li><a href="{{url_for('register')}}">Register</a></li>
          <li><a href="{{url_for('login')}}">Log in</a></li>
          {%endif%}
        </ul>
      </div>
    </nav>

  </header>



  <main id="main">


<section id="services" style="padding-top: 100px">
    <div class="container">

      <header class="section-header wow slideInLeft">
        <h3>Sponsors 2021</h3>
      </header>

      <div class="container">
        <!--             <div style="padding-bottom: 80px; margin-left: auto; margin-right: auto;width: 100% " class=" wow zoomInUp" data-wow-duration="1.4s">
              <h2 style="text-align: center;color: black;font-weight: bolder;">Title Sponsor</h2>
              <div style="margin-left: auto;margin-right: auto;display: table;">
                <a href='http://sagarmala.gov.in/'><img style="width:300px; " src="static/sagarmala.jpg"></a>
                <img style="width:300px; " src="static/cicmt.png">
              </div>
            </div> -->
        <div style="padding-bottom: 80px; margin-left: auto; margin-right: auto;width: 100%  " class=" wow zoomInUp" data-wow-duration="1.4s">
          <h2 style="text-align: center;color: black;font-weight: bolder;">Title Sponsor</h2>
          <div style="margin-left: auto;margin-right: auto;display: table;">
            <a href='https://www.quantsolar.com/'> <img style="width:282px; margin-left: auto;display: block;margin-right: auto; " src="{{url_for('static',filename='media/quant.png')}}"></a>
            <h3  style="text-align: center;color:grey;font-weight: bold;">Quant Solar</h3>
            <h7  style="text-align: center;color:grey;font-weight: bold;">Quant solar is a clean-tech company that aims to develop innovative and smart technologies for a sustainable future. Floating Solar Solution obviates the need for large tracts of land by installing solar panels on lakes, ponds, reservoirs, lagoons etc. which are available in abundance in most countries.</h7><br>
            <h7  style="text-align: center;color:grey;font-weight: bold;">Quant solar offer a safe and reliable solution that has been tested on international standards and guidelines of operability and safety. Our goal is to reduce risk across the solar value chain while delivering more reliable, dependable and cost-effective solutions for our customers.
            </h7>
          </div>
        </div>

        <div style="padding-bottom: 80px; margin-left: auto; margin-right: auto;width: 100%  " class=" wow zoomInUp" data-wow-duration="1.4s">
          <h2 style="text-align: center;color: black;font-weight: bolder;">Major Sponsor</h2>
          <div style="margin-left: auto;margin-right: auto;display: table;margin-top: 20px">
            <a href='https://www.buoyancyconsultants.com/'><img style="width:282px;  margin-left: auto;display: block;margin-right: auto;" src="{{url_for('static',filename='media/spons/bouy.webp')}}"></a>
            <h3  style="text-align: center;color:grey;font-weight: bold;padding-top: 20px">Bouyancy Consultants</h3>
            <h7  style="text-align: center;color:grey;font-weight: bold;">Buoyancy Consultants approach to offshore & ship design is through providing quality engineering services for new builds, retrofits, Brownfield and Greenfield projects.</h7><br>
            <h7  style="text-align: center;color:grey;font-weight: bold;">Buoyancy Consultants core team of marine professionals have years of extensive Marine, Ship design, and Production Engineering experience. Having worked on the various ship, onshore and offshore engineering projects in India, America, Europe & Far East we are well versed with naval architecture, construction standards, class rules and specifications. We abide by our code: Making Your Project Float!
            </h7>
          </div>

        </div>

        <div style="padding-bottom: 80px; margin-left: auto; margin-right: auto;width: 100%  " class=" wow zoomInUp" data-wow-duration="1.4s">
          <h2 style="text-align: center;color: black;font-weight: bolder;">Events Sponsor</h2>
          <div style="margin-left: auto;margin-right: auto;display: table;">
            <a href='https://www.vedamdesign.com/'><img style="width:282px; margin-left: auto;display: block;margin-right: auto; " src="{{url_for('static',filename='media/download.jpg')}}"></a>
            <h3  style="text-align: center;color:grey;font-weight: bold;">GRSE</h3>
            <h7  style="text-align: center;color:grey;font-weight: bold;">From being a small workshop for repairing vessels in 1884 to building the first warship of Independant India, GRSE has delivered 107 warships to the
              Indian Navy, Indian Coast Guard and also to the Mauritius and Seychelles Coast Guards since the take over from the Indian Government. It is the biggest Defence Shipyard in India and has diversified its field. </h7><br>
            <h7  style="text-align: center;color:grey;font-weight: bold;">We consistently invest in human technology, research and analysis to simplify solutions for complex engineering requirements
            </h7>
          </div>

          <div style="margin-left: auto;margin-right: auto;display: table;margin-top: 80px">
            <a href='https://www.mahindraodyssea.com/'><img style="width:282px;  margin-left: auto;display: block;margin-right: auto;" src="{{url_for('static',filename='media/shoftship_O8swTMT.png')}}"></a>
            <h3  style="text-align: center;color:grey;font-weight: bold;">SHOFT</h3>
            <h7  style="text-align: center;color:grey;font-weight: bold;">SHOFT is an ISO 9001 -2015 DNV Certified shipyard, holding Industrial License for construction of Warships in India established in 1987 is now a privately held shipbuilding company promoted and run by Naval Architects. The Head Office is at Thane (Mumbai) and the shipyard is located at Bharuch, on the coast of river Narmada near Dahej in Bharuch, Gujarat, the state with the longest coast line in India. SHOFT consolidated assets and nurtured a great work force, evolving into a full - fledged medium sized shipyard with supporting infrastructure. It has a build capacity which allows simultaneous building of 9 – 12 vessels of varying sizes upto 150m length and launching weight upto 6000 tonnes. SHOFT provides Infrastructural support for India’s coastal security fleet and contributes to Defence R&D.</h7>
          </div>

        </div>




  </section>

  <!--==========================
    Footer
  ============================-->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="ion-ios-arrow-right"></i> <a href="{{url_for('index')}}">Home</a></li>
              <li><i class="ion-ios-arrow-right"></i> <a href="{{url_for('events')}}">Events</a></li>
              <li><i class="ion-ios-arrow-right"></i> <a href="{{url_for('sponsor')}}">Sponsors</a></li>
              <li><i class="ion-ios-arrow-right"></i> <a href="{{url_for('index',_anchor='contact')}}">Contact Us</a></li>


            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-contact">
            <h4>Contact Us</h4>
            <p>
              Department of <br>
              Ocean Engineering & Naval architecture <br>
              IIT Kharagpur <br>
              721302<br>
              Kharagpur, West Bengal<br>

              <strong>Email:</strong> samudramanthan.iitkgp.2021@gmail.com<br>
            </p>

            <div class="social-links">

              <a href="https://www.facebook.com/samudramanthan.iitkgp" class="facebook"><i class="fa fa-facebook"></i></a>
              <a href="https://www.instagram.com/samudramanthan.iitkgp" class="instagram"><i class="fa fa-instagram"></i></a>
              <a href="mailto:samudramanthan.iitkgp.2021@gmail.com" class="google-plus"><i class="fa fa-envelope"></i></a>

            </div>

          </div>

          <div class="col-lg-3 col-md-6 footer-newsletter">
            <h4>Follow Us</h4>
            <div class="fb-page" data-href="https://www.facebook.com/samudramanthan.iitkgp" data-width="380" data-hide-cover="false" data-show-facepile="false"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong>NAROES</strong>. All Rights Reserved
      </div>
    </div>
  </footer><!-- #footer -->


  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
  <!-- Uncomment below i you want to use a preloader -->
  <div id="preloader"></div>

  <!-- JavaScript Libraries -->
  <script src="{{url_for('static',filename='js/nav.js')}}"></script>
  <script src="{{url_for('static',filename='lib/easing/easing.min.js')}}"></script>
  <script src="{{url_for('static',filename='lib/superfish/superfish.min.js')}}"></script>
  <script src="{{url_for('static',filename='lib/counterup/counterup.min.js')}}"></script>
  <script src="{{url_for('static',filename='lib/isotope/isotope.pkgd.min.js')}}"></script>
  <script src="{{url_for('static',filename='lib/lightbox/js/lightbox.min.js')}}"></script>
  <script src="{{url_for('static',filename='lib/waypoints/waypoints.min.js')}}"></script>
  <script src="{{url_for('static',filename='lib/touchSwipe/jquery.touchSwipe.min.js')}}"></script>
  <script src="{{url_for('static',filename='lib/wow/wow.min.js')}}"></script>
  <script src="{{url_for('static',filename='lib/jquery/jquery.min.js')}}"></script>
  <script src="{{url_for('static',filename='lib/owlcarousel/owl.carousel.min.js')}}"></script>
  <script src="{{url_for('static',filename='ext/js/main.js')}}"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj" crossorigin="anonymous"></script>
</body>

</html>
